/* html { font-family: sans-serif; background: #2B2E3B; color: #9FEAF9; } */

html {
  font-family: sans-serif; 
  background: #2B2E3B;
  color: #9FEAF9;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, input {
  font: menu;
}
